body{
  font-family: monospace;
  background-color: Black;
  color: White;
}

header{
  background-color: Green;
  padding: 1em;
}

header img{
	width:100%	
}

main{
  background-color: Tomato;
  display: flex;
}

footer{
  background-color: Blue
}

  #left-column {
    flex: 1;
  }

  #center-column {
    flex: 4;
  }

  #right-column {
    flex: 1;
  }

article{
  background-color: aqua;
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
  padding-bottom: 1em;
}
article img{
	width:100%;  
}

aside{
  padding-top: 1em;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 1em;
}



/* define a fixed width for the entire menu */
/*
.navigation {
  width: 300px;
}
*/

/* reset our lists to remove bullet points and padding */
.mainmenu, .submenu {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* make ALL links (main and submenu) have padding and background color */
/*
.mainmenu a {
  display: block;
  background-color: #CCC;
  text-decoration: none;
  padding: 10px;
  color: #000;
}
*/

/* add hover behaviour */
/*
.mainmenu a:hover {
    background-color: #C5C5C5;
}
*/

/* when hovering over a .mainmenu item,
  display the submenu inside it.
  we're changing the submenu's max-height from 0 to 200px;
*/

.mainmenu li:hover .submenu {
  display: block;
  max-height: 200px;
}

/*
  we now overwrite the background-color for .submenu links only.
  CSS reads down the page, so code at the bottom will overwrite the code at the top.
*/

.submenu {
  list-style:circle;
  margin-left: 1em;
  padding-left: 2em
}

/* hover behaviour for links inside .submenu */
/* 
.submenu a:hover {
  background-color: #666;
}
*/
/* this is the initial state of all submenus.
  we set it to max-height: 0, and hide the overflowed content.
*/
.submenu {
  overflow: hidden;
  max-height: 0;
  -webkit-transition: all 0.5s ease-out;
}


.container {
    width: 100%;
    /*padding-top: 100%;  1:1 Aspect Ratio */
    position: relative; /* If you want text inside of it */
}
